
#img-logo{
	margin-bottom: 10px;
}

.state-icon {
    left: -5px;
      padding-right: 5px;
}
.list-group-item-primary {
    color: #fff;
    background-color: #9BBE94;
}

.tbModal{
	  margin-bottom: 0 !important;
}

.icon-ok{
	  color: #2CA113 !important;	
}


.icon-nok{
	  color: #EF6D6D !important;	
}

.editAnexo{
	width: 19%;
}



/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}