
#img-logo{
	margin-bottom: 10px;
}

.state-icon {
    left: -5px;
      padding-right: 5px;
}
.list-group-item-primary {
    color: #fff;
    background-color: #9BBE94;
}

.tbModal{
	  margin-bottom: 0 !important;
}

.icon-ok{
	  color: #2CA113 !important;	
}


.icon-nok{
	  color: #EF6D6D !important;	
}

.editAnexo{
	width: 19%;
}

#novaAtividade, #novaCategoria, #novoDadosRef{
  margin-top: 15px;
  margin-left: 29px;
}

.fa {
	font-size: large !important;
}

.fa-large {
	font-size: x-large !important;
}

.link-red {
	color: #EF6D6D !important;
}

.link-green{
	color: #2CA113 !important;
}

.link-blue{
	color: #428bca !important;
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}